<!doctype html>
<html lang="en-US">
  <head>
    <title>Simple CMS App</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <% if session[:message] %>
      <p class="message">
        <%= session.delete(:message) %>
      </p>
    <% end %>
    <main>
      <%== yield %>
    </main>
  </body>
</html>
