<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <ul>
    <% @files.each do |file| %>
      <li><%= file %></li>
    <% end %>
  </ul>
</body>
</html>
