<form action="/users/signin" method="post">
  <div class="">
    <label for="username">Username:</label>
    <input type="text" name="username" value="">
  </div>
  <div class="">
    <label for="password">Password:</label>
    <input type="password" name="password" value="">
  </div>
  <div class="">
    <button type="submit" name="sign_in">Sign in</button>
  </div>
</form>
